{{#link-to 'team.index.page' model}}{{model.title}}{{/link-to}}
(<a {{action 'addChild'}}>Add Child</a>)
(<a {{action 'remove'}}>Remove Page</a>)
{{#if hasChildren}}
  <ul>
    {{#each child in model.children}}
      <li>{{page-node model=child}}</li>
    {{/each}}
  </ul>
{{/if}}