<div class="row">
  <div class="columns small-3">Email</div>
  <div class="columns small-9">
    {{membership.email}}
  </div>
</div>
<div class="row">
  <div class="columns small-3">Role</div>
  <div class="columns small-9">
    {{membership.role}}
  </div>
</div>