<h1 class="page-title">{{content-editor value=model.title plaintext=true disableReturn=true disableToolbar=true contentChanged='contentChanged'}}</h1>
<div class="page-body">{{content-editor value=model.body contentChanged='contentChanged'}}</div>
