<h1 class="page-title">{{content-editor pageId=model.id value=model.title plaintext=true disableReturn=true disableToolbar=true contentChanged='contentChanged'}}</h1>
<div class="page-body">{{content-editor pageId=model.id value=model.body contentChanged='contentChanged'}}</div>
