<div class="team-sidebar"></div>
<div class="team-main">
  <h1>Team management</h1>
  <button class="small button disband-team" {{action 'delete'}}>Disband team</button>

  {{#if showError}}
    <div class="error alert-box alert">{{errorMessage}}</div>
  {{/if}}
</div>