<div class="team-sidebar">
  <h2>Pages</h2>
  <div class="pages-tree">
    {{#each page in rootPageNodes}}
      {{page-node model=page}}
    {{/each}}
  </div>
</div>
<div class="team-main">
  <div class="page-expanded">
    {{outlet}}
  </div>
</div>