.team-options-menu {
  .header {
    display: block;
    padding: 7px 14px;
    cursor: pointer;

    &:hover {
      background: #AAA;
    }
  }

  .menu {
    background: white;
    position: absolute;
    -webkit-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.5);
  }
}