<h2>General TeamPlaybook Site</h2>

<ul>
  <li>{{#link-to 'general.index'}}Home{{/link-to}}</li>
  <li>{{#link-to 'general.create-organization'}}Create an organization{{/link-to}}</li>
</ul>

{{outlet}}