<div>
  <ul>
    {{#if session.isAuthenticated}}
      <li><a href="#" {{action 'logout'}}>Logout</a></li>
    {{else}}
      <li>{{#link-to 'login'}}Login{{/link-to}}</li>
      <li>{{#link-to 'register'}}Register{{/link-to}}</li>
    {{/if}}
  </ul>
</div>