<form {{action 'login' on='submit'}}>
  {{input type='text' value=email placeholder='Your e-mail'}}
  {{input type='password' value=password placeholder='Your password'}}
  <input type="submit" value="Login"/>
</form>
{{#if showError}}
  <p>{{errorMessage}}</p>
{{/if}}