<form {{action 'login' on='submit'}}>
  {{input type='text' value=username placeholder='Your username'}}
  {{input type='password' value=password placeholder = 'Your password'}}
  <input type="submit" value="Login"/>
</form>
{{#if showError}}
  <p>{{errorMessage}}</p>
{{/if}}