<section role="main" class="team-container">
  <div class="team-sidebar">
    <h5>{{model.name}}</h5>
    <h6 class="subheader">Subdomain: {{model.subdomain}}</h6>
    {{partial 'team-nav'}}
  </div>
  <div class="team-main">
    {{outlet}}
  </div>
</section>
