<section role="main" class="team-container">
  <div class="team-sidebar">
    {{team-options-menu team=model currentUser=session.secure logout='logout'}}
    {{partial 'team-nav'}}
  </div>
  <div class="team-main">
    <h1>{{model.name}}</h1>
    {{outlet}}
  </div>
</section>