<table>
  <thead>
    <tr>
      <th>E-mail</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each user in model}}
      <tr>
        <td>{{user.email}}</td>
        <td>N/A</td>
      </tr>
    {{/each}}
  </tbody>
</table>